* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 500px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(480px / 3);
  height: calc(480px / 3);
  font-size: 4rem;
  font-weight: bold;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
}

.x-color {
  color: red;
}

.o-color {
  color: #000;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.reset-btn {
  background-color: #fff;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  padding: 10px;
  margin-top: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.transbg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.325);
}
.gameover {
  width: 300px;
  height: 200px;
  flex-direction: column;
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 5px;
  z-index: 999;
}
.gameover h2 {
  color: limegreen;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0 5px;
  }
  .board {
    width: 100vw;
    gap: 0px;
    border: none;
  }
  .box {
    width: calc((100vw - 20px) / 3);
    height: calc((100vw - 20px) / 3);
    font-size: 4rem;
    border-radius: 0;
    box-shadow: none;
  }
}
